<section data-ng-controller="HomeController">
	<br>
	<br>
	<div class="jumbotron text-center">
		<div class="row text-left" >
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<br>Sorry if this page isn't beautiful enough yet. I only had five hours to build it up before the working time come.
				<br><br>If you need to see it beautiful, please let me know, and I will do a brand new theme closer to Lofty's layout.
				<br><br>I hope to see you soon at Rep. Dom.
				<br>My best Regards,
				<br><strong>Romulo Bordezani</strong>
			</div>
		</div>
		<br>
	</div>
</section>
